*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    
    align-items:center;
    background-color: #fff;
    border-bottom: 1px solid #B5B5B5;
    
   
    gap: 70px;
    border: 0px 0px 1px 0px;
    padding: 16px 160px 16px 160px;
    
   opacity:0px;
  
}
.logo {
    width: 65.4px;
    height: 22.872px;
}

.searchbox input[type="text"]{
display: flex;
width: 300px;
height: 15px;
padding: 16px;
align-items: center;
border-radius: 8px;
background: #F5F5F5;
border:none;

}
.icon{
    display:flex;
}
.navbar ul{
    display:flex;
    align-items: flex-start;
    gap: 52px;
    list-style: none;
}
.navbar ul li a{
color: var(--Main-Black, var(--color-black-solid, #c7b6b6));
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-decoration: none;

}
.icon{
display: flex;
justify-content: center;
align-items: center;
gap: 24px;
}

.navbar ul li a .home{
    color:#000;
}
.catalog{
    height:104px;
    background-color: #fff;
    display:flex;
    align-items: center;
    padding-left:150px;
    gap:10px;

}
.catalog h2{
    color: #A4A4A4;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 100% */
}
.ar{
    width: 24px;
height: 24px;

}
.catalog .oas {
    color:black;
    font-weight: 800;
   }
.brandu{
    height:1560px;
    background-color: #fff;
    display: flex;
    padding: 24px 160px 56px 160px;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
    width:100%;
    display:flex;
    justify-content: center;
}
.brand{
    height: 1480px;
    width:1119px;
    background-color:#fff;
    display: flex;
    gap:10px;
    
   
    
   
    
    
    }
.brand1{
    width:256px;
    height:760px;
    background-color: #fff;
     display:flex;
     flex-direction: column;
     padding-top:15px;
    
   
}


.dropdown-container {
    border-radius: 5px;
    padding: 10px;
    padding-right: 3px;
    padding-left: 1px;
}


.dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}


.arrow {
    font-size: 14px;
    transition: transform 0.3s;
}


.arrow.rotate {
    transform: rotate(180deg);
}


.dropdown-content {
    display: none;
    padding: 10px 0;
}


.dropdown-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-content ul li {
    padding: 8px 0;
    font-size: 16px;
}


.dropdown-content ul li input[type="checkbox"] {
    margin-right: 10px;
}
input[type="text"]{
    width: 100%;
     padding: 5px; 
     margin-bottom: 10px;
}
.dropdown1-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding-top:30px;
}


.arrow {
    font-size: 14px;
    transition: transform 0.3s;
}
.dropdown2-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding-top:30px;
}


.arrow {
    font-size: 14px;
    transition: transform 0.3s;
}
/****************filter button csss****/
.filter-toggle-btn {
    background-color: #F5F5F5;
    color: rgb(9, 4, 4);
    font-size: 16px;
    padding: 10px 20px;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid #282626;
    cursor: pointer;
    display: none;
    width: 100%;
    text-align: left;
}
/*******************filter button code****/




/**phones boxes*/
.discount{
    background-color:#fff;
   
    display: flex;
   
    flex-direction: column;
    height:432px;
    justify-content: flex-start;
    width:831px;
    height:1480px;
    background-color: #fff;
    
    
    gap: 40px;
    flex: 1 0 0;
}
.dis1{
        background-color:#fff;
        display: flex;
        height:10px;
        justify-content: space-between;
       
        width:831px;    
}
.dis1 h2{
    color: #6C6C6C;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 100% */
letter-spacing: 0.48px;
padding-top:20px;
}
.rate{
    display: flex;
    justify-content: space-between;
    width:256px;
    height:30px;
    border: 1px solid #B5B5B5;
    align-items: center;
    margin-top:15px;
}

.count{
   
        display: flex;
        
        width:831px;
        height:1344px;
        background-color: #fff;
        flex-wrap:wrap;
        gap:10px;
        justify-content: center;


   
}
.count1{
    border-radius: 9px;
background: #F6F6F6;
    width:268px;
    height:432px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.count1 p{
    color: var(--Main-Black, var(--color-black-solid, #000));
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
padding-top: 10px;
}
.count1 h3{
    color: var(--Main-Black, var(--color-black-solid, #000));
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 100% */
letter-spacing: 0.72px;
padding-top: 10px;
}
.count1 .fa-heart{
    color:#c3bcbc;
  padding-left:240px;
  padding-top:20px;
  font-size:x-large;
  
}
.count2{
    border-radius: 9px;
background: #F6F6F6;
    width:268px;
    height:432px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.count2 p{
    color: var(--Main-Black, var(--color-black-solid, #000));
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
padding-top: 10px;
padding-left: 20px;
padding-right: 20px;
}
.count2 h3{
    color: var(--Main-Black, var(--color-black-solid, #000));
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 100% */
letter-spacing: 0.72px;
padding-top: 10px;
}
.count2 .fa-heart{
    color:#c3bcbc;
  padding-left:240px;
  padding-top:20px;
  font-size:x-large;
  
}
.count3{
    border-radius: 9px;
background: #F6F6F6;
    width:268px;
    height:432px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.count3 p{
    color: var(--Main-Black, var(--color-black-solid, #000));
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
padding-top: 10px;

}
.count3 h3{
    color: var(--Main-Black, var(--color-black-solid, #000));
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 100% */
letter-spacing: 0.72px;
padding-top: 10px;
}
.count3 .fa-heart{
    color:#c3bcbc;
  padding-left:240px;
  padding-top:20px;
  font-size:x-large;
  
}
.count4{
    border-radius: 9px;
background: #F6F6F6;
    width:268px;
    height:432px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.count4 p{
    color: var(--Main-Black, var(--color-black-solid, #000));
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
padding-top: 10px;
}
.count4 h3{
    color: var(--Main-Black, var(--color-black-solid, #000));
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 100% */
letter-spacing: 0.72px;
padding-top: 10px;
}
.count4 .fa-heart{
    color:#c3bcbc;
  padding-left:240px;
  padding-top:20px;
  font-size:x-large;
  
}
.count5{
    border-radius: 9px;
background: #F6F6F6;
    width:268px;
    height:432px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.count5 p{
    color: var(--Main-Black, var(--color-black-solid, #000));
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
padding-top: 10px;
}
.count5 h3{
    color: var(--Main-Black, var(--color-black-solid, #000));
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 100% */
letter-spacing: 0.72px;
padding-top: 10px;
}
.count5 .fa-heart{
    color:#c3bcbc;
  padding-left:240px;
  padding-top:20px;
  font-size:x-large;
  
}
.count6{
    border-radius: 9px;
background: #F6F6F6;
    width:268px;
    height:432px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.count6 p{
    color: var(--Main-Black, var(--color-black-solid, #000));
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
padding-top: 10px;
}
.count6 h3{
    color: var(--Main-Black, var(--color-black-solid, #000));
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 100% */
letter-spacing: 0.72px;
padding-top: 10px;
}
.count6 .fa-heart{
    color:#c3bcbc;
  padding-left:240px;
  padding-top:20px;
  font-size:x-large;
  
}
.count7{
    border-radius: 9px;
background: #F6F6F6;
    width:268px;
    height:432px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.count7 p{
    color: var(--Main-Black, var(--color-black-solid, #000));
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
padding-top: 10px;
}
.count7 h3{
    color: var(--Main-Black, var(--color-black-solid, #000));
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 100% */
letter-spacing: 0.72px;
padding-top: 10px;
}
.count7 .fa-heart{
    color:#c3bcbc;
  padding-left:240px;
  padding-top:20px;
  font-size:x-large;
  
}
.count8{
    border-radius: 9px;
background: #F6F6F6;
    width:268px;
    height:432px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.count8 p{
    color: var(--Main-Black, var(--color-black-solid, #000));
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
padding-top: 10px;
}
.count8 h3{
    color: var(--Main-Black, var(--color-black-solid, #000));
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 100% */
letter-spacing: 0.72px;
padding-top: 10px;
}
.count8 .fa-heart{
    color:#c3bcbc;
  padding-left:240px;
  padding-top:20px;
  font-size:x-large;
  
}
.count9{
    border-radius: 9px;
background: #F6F6F6;
    width:268px;
    height:432px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.count9 p{
    color: var(--Main-Black, var(--color-black-solid, #000));
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
padding-top: 10px;
}
.count9 h3{
    color: var(--Main-Black, var(--color-black-solid, #000));
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 100% */
letter-spacing: 0.72px;
padding-top: 10px;
}
.count9 .fa-heart{
    color:#c3bcbc;
  padding-left:240px;
  padding-top:20px;
  font-size:x-large;
  
}
.Buy{
    display: flex;
padding: 12px 64px;
justify-content: center;
align-items: center;
gap: 8px;
color:white;
border-radius: var(--radius-8, 8px);
background: var(--color-black-solid, #000);
margin-top:30px;
}
.footer{
    height:504px;
    background-color:#000;
    display: flex;
    flex-direction: column;
}
.black1{
    width:300px;
    background-color: #000;
    margin-left:100px;
}
/**/
.innerfoot{
    display:flex;
    background-color: #000;
    padding-top:100px;
}
.black2{
    width:300px;
    background-color: #000;
    margin-left:150px;
    
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.black3{
    width:300px;
    background-color:#000;
    margin-left:100px;
    
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.black1 p{
    padding-top:20px;
    color: #CFCFCF;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 170.5%; /* 23.87px */
}
.black2 h3{
    color: #fff;

}
.black2 h5{
    color: #CFCFCF;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 228.571% */
}
.black3 h3{
    color: #fff;

}
.black3 h5{
    color: #CFCFCF;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 228.571% */
}
.iconnn{
    padding-left: 100px;
   display: flex;
  gap:30px;
}

.now{
    background-color: #fff;
}
